.container{
    display: grid;
    height: 600px;
    width: 1000px;
    background-color: rgb(248, 136, 159);
    margin-left: 170px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
    justify-items: center;
    border: dotted rgb(255, 0, 55);
    border-width: 7px;
}
.item{
    text-align: center;
    align-content: center;
    height: 110px;
    width: 120px;
    background-color: crimson;
    
}
.item1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(231, 134, 8);
}
.item2{
     grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(182, 13, 13);
    
}