.container{
    display : flex; 
    height:500px;
    width: 900px;
    background-color: rgb(179, 143, 177) ;
    border: 5px solid black;
    justify-content:center;
    padding-top: 20px;
    row-gap: 2px;
    justify-content: space-between;
    
    
}
.item{
    height: 200px;
    width: 100px;
    border-color: solid rgb(109, 22, 62);
    background-color: blanchedalmond;
    border: 2px;
    margin-top: 180px;
    
}
