.box1{
    border-color:solid black;
    padding :50 px ;

}





.box2{
    height: 1px;
    width: 500px;
    background-color:rgb(208, 255, 0);
    text-align: center;
    border: 100px solid blue;
    padding: 200px;
    margin: top 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;

}

p{
    align-self:center;
    margin:70 px
    ;
}